.mmGrid {border:none;}
.splitter {
	height: 400px;
	width: calc(100%);
	width: -moz-calc(100%);
    width: -webkit-calc(100%);
    border: 1px solid #a6c9e2;
    color: #222222;
}
.splitter-bar-default { background-color: #aca }
.splitter-bar-hover { background-color: #bdb }
.splitter-bar-highlight { background-color: #add }
.splitter-bar-error { background-color: #eaa }

.splitter-bar-vertical {
    background-color: #aca;
	width: 6px;
    background-image: url(img/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.splitter-bar-vertical:hover{
    background-color: #add;
}

.splitter-bar-vertical-docked {
    width: 10px;
    background-image: url(img/vdockbar-trans.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar.highlight {
    opacity: 0.7;
}
.splitter-iframe-hide {
    visibility: hidden;
}
