/* jQuery mmGrid stylesheet
 *
 * This file contains styles that are used to display the tree table. Each tree
 * table is assigned the +mmGrid+ class.
 * ========================================================================= */

/* jquery.mmGrid.collapsible
 * ------------------------------------------------------------------------- */
.mmGrid tr td a.expander {
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.mmGrid .mmg-bodyWrapper .mmg-body td {
  position: relative;
  overflow: hidden;
}

.mmGrid tr td a.expander {
  background-position: left center;
  background-repeat: no-repeat;
  color: #000;
  text-decoration: none;
  position: absolute;
  left:0px;
  top:3px;
  width:16px;
  height:16px;
  z-index:99;
}

.mmGrid tr.collapsed td a.expander {
  background-image: url(img/plus.gif);
}

.mmGrid tr.expanded td a.expander {
  background-image: url(img/minus.gif);
}

/* jquery.mmGrid.sortable
 * ------------------------------------------------------------------------- */
.mmGrid tr.selected, .mmGrid tr.accept {
  background-color: #3875d7;
}

.mmGrid tr.selected a.expander, .mmGrid tr.accept a.expander {
  color: #fff;
}

.mmGrid .ui-draggable-dragging {
  color: #000;
  z-index: 1;
}

/* Layout helper taken from jQuery UI. This way I don't have to require the
 * full jQuery UI CSS to be loaded. */
.ui-helper-hidden { display: none; }

.mmGrid .mmg-cellWrapper {
  position:relative;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.error {
  background-color: #b94a48;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.warning {
  background-color: #f89406;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.success {
  background-color: #468847;
}

.mmGrid .mmg-bodyWrapper .mmg-body td.info {
  background-color: #3a87ad;
}

.mmg-notation{
    border: 4px solid;
    border-color: transparent transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: -5px;
}

.mmg-notation.error{
    border-color: #b94a48 #b94a48 transparent transparent;
}

.mmg-notation.warning{
    border-color: #f89406 #f89406 transparent transparent;
}

.mmg-notation.success{
    border-color: #468847 #468847 transparent transparent;
}

.mmg-notation.info{
    border-color: #3a87ad #3a87ad transparent transparent;
}
